<div>
	<section class='current_weather'>
		<table class='weather_table'>
			<tr>
				<th>Temperature</th>
				<th>Humidity</th>
				<th>Feels Like</th>
			</tr>
			<tr class='details'>
				<td class='temperature'></td>
				<td class='humidity'></td>
				<td class='feels_like'></td>
			</tr>
			<tr>
				<td colspan="3" class='summary'></td>
			</tr>
		</table>
	</section>
</div>