	<section>
		<%= form_for (@forecast), { url: forecasts_path(@forecast), html: { class: 'forecast_form' }, remote: true } do |f| %>
			<%= f.submit "Get Forecast", class: 'form-item form-button' %>
		<% end %>
	</section>