	# <section class='recent_searches'>
	# 	<p>Recent Searches</p>
	# 	<ul class='search_list'>
	# 		<% @recent_searches.each do |search| %>
	# 		<li><%= search.location %></li>
	# 		<% end %>
	# 	</ul>
	# </section>