/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: jura;
}

footer {
	text-align: center;
	margin-top: 5vh;
}

footer a {
	text-decoration: none;
	color: black;
	/*font-family: jura;*/
	font-style: italic;
}

#map {
	height: 40vh;
	width: 80vw;
	margin: auto;
}

#forecast {
	/*height: 5vh;*/
	width: 10vw;
	margin: auto;
	margin-top: 5vh;
}

.button {
	border: solid black 1px;
	text-decoration: none;
	color: black;
	background: grey;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
}

.weather_table {
	width: 80vw;
	margin: auto;
	text-align: center;
	border-bottom: solid #1a778c 1px;
	/*font-family: jura;*/
}

.details {
	font-size: 3em;
}

.summary {
	font-size: 2em;
	font-style: italic;
}

th {
	background-color: #1a778c;
	width: 33%;
	font-size: 1.5em;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
}

.weekly_weather {
	margin-top: 3vh;
	margin-bottom: 5vh;
}

.daily_weather {
	display: inline-block;
	width: 10vw;
	vertical-align: top;
	margin-left: 1.75vw;
}

.daily_summary {
	font-style: italic;
	font-size: .8em;
}

.glance {
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
	margin-bottom: 1vh;
}
/*.daily_lo {
	float: left;
}

.daily_hi {
	float: right;
}*/


